@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css";

*{
  background-color: peachpuff;
  color: black;
}

.jumbotron{
  background-color: peachpuff;
  color: black;
  margin: 0;
  height: 100%;
  width: 100%;
}

html, body{
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  font-size: 16pt;
  color: black;
}

h1{
  font-size: 28pt;
}

.nav navbar-nav{
  font-size: 20pt;
}

heading, h2, h3, h4{
  font-size: 22pt;
  font-style: oblique;
  font: outline;
}